# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Packaging
build/
dist/
*.egg-info/

# Virtual environments
.venv/
env/
venv/

# VSCode
.vscode/

# Other
.DS_Store

# Compute results
result.*
/results
